<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ML-ResNet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EBAA4001EE7E87A00898286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EBAA4141EE7E87B00898286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EBAA41F1EE7E87B00898286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
